@import "tailwindcss";
.cursor-play {
  cursor: url('/play-cursor.svg') 16 16, pointer;
}

.cursor-pause {
  cursor: url('/pause-cursor.svg') 16 16, pointer;
}
@keyframes fadeInOut {
  0%, 20% { opacity: 0; transform: scale(0.8); }
  10%, 80% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.8); }
}

.animate-fadeInOut {
  animation: fadeInOut 5s ease-in-out infinite;
}